doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      h1 Language Learning App
      p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
      nav
        a(href='/') Home |
        a(href='/flashcards') Flashcards |
        a(href='/flashcards/new') New Flashcard
    block content
    footer
      p &copy; 2025 Language Learning App
